<%- include('partials/hearder.ejs'); %> 

<body> 

    <%- include('partials/navbar.ejs'); %>

    <div class="container">
    
        <div class="card" id="form-simu"> 

          <div class="card-header">

            </div>

             <div class="card-body">
                     
                <form  method="POST"  action="/">

                    <div class="row">
        
                      <div class="col-md-10 offset-md-1"> 
                        
                          <textarea placeholder="Lista de dados a ser analisado" class="form-control" rows="19"></textarea>
        
                           <br/>

                            <button class="btn btn-dark" >Analisar </button>

                      </div>
                
                    </div>
                
                </form>
                
            </div>
        </div>

    </div>
    
</body>

<%- include('partials/footer.ejs'); %>